<!DOCTYPE HTML>
<html>
	<head>
		<title>Godbless Umukoro</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/home/css/main.css">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
        <noscript><link rel="stylesheet" href="/home/css/noscript.css" /></noscript>
	</head>
	<body class="is-preload">

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
                <div id="portfolioBar" >
					<ul class="navHead">
						<div class="portfolioBar">
							<a class="navHeader" id="linkedin" href="https://www.linkedin.com/in/godbless-umukoro-15ba4a153/">LINKEDIN</a>
							<a class="navHeader"  id="github" href="https://github.com/DiromaUmukoro">GITHUB</a>
							<a class="navHeader" id="hackerrank" href="https://www.hackerrank.com/godbless_umukoro">HACKERRANK</a>
							<a class="navHeader" id="leetcode" href="https://leetcode.com/diroma/">LEETCODE</a>
						</div>
					   
					</ul>
				</div>

                <!-- Main -->
					<div id="main">

						<!-- Me -->
                        <article id="home" class="panel intro">
                            <header>
                                <h1 >Godbless Umukoro</h1>
                                </br>

                                <h3> I study Statistics and Mathematics at the University of Manitoba...</h3>
                                
                                <!-- <p>I am interested in software development, data analytics/science  and the use of machine learning model for data acquisition.</p> -->
                            </header>
                            <a href="/portfolio" class="jumplink pic">
                                <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
                                <img src="/portfolio/images/me.jpg" alt="" />
                            </a>
                        </article>
						<!-- Work -->
							

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Godbless Umukoro.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<script src="home/js/jquery.min.js"></script>
			<script src="home/js/browser.min.js"></script>
			<script src="home/js/breakpoints.min.js"></script>
			<script src="home/js/util.js"></script>
            <script src="home/js/main.js"></script>
            <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>   -->

	</body>
</html>