<!DOCTYPE HTML>
<html>
	<head>
		<title>Godbless Umukoro</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
        <link rel="stylesheet" href="/home/css/main.css">
        <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous"> -->
        <noscript><link rel="stylesheet" href="/home/css/noscript.css" /></noscript>
		<!-- Google Tag Manager -->
		<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
		new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
		j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
		'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
		})(window,document,'script','dataLayer','GTM-P47JHTT');</script>
		<!-- End Google Tag Manager -->		
	</head>
	<body class="is-preload">
		<!-- Google Tag Manager (noscript) -->
		<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P47JHTT"
		height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
		<!-- End Google Tag Manager (noscript) -->

		<!-- Wrapper-->
			<div id="wrapper">

				<!-- Nav -->
                <div id="portfolioBar" >
					<ul class="navHead">
						<div class="portfolioBar">
							<a class="navHeader" id="linkedin" href="https://www.linkedin.com/in/godbless-umukoro-15ba4a153/">LINKEDIN</a>
							<a class="navHeader"  id="github" href="https://github.com/UmukoroG">GITHUB</a>
							<a class="navHeader" id="hackerrank" href="https://www.hackerrank.com/godbless_umukoro">HACKERRANK</a>
							<a class="navHeader" id="kaggle" href="https://www.kaggle.com/godblessumukoro">KAGGLE</a>
						</div>
					   
					</ul>
				</div>

                <!-- Main -->
					<div id="main">

						<!-- Me -->
                        <article id="home" class="panel intro">
                            <header>
                                <h2 > &lt;Godbless Umukoro/&gt;</h2>
                                </br>

                                <h3> I am a full-stack web developer.</h3>
                                
                                <!-- <p>I am interested in software development, data analytics/science  and the use of machine learning model for data acquisition.</p> -->
                            </header>
                            <a href="/portfolio" class="jumplink pic">
                                <span class="arrow icon solid fa-chevron-right"><span>See my work</span></span>
                                <img src="/portfolio/images/me.jpg" alt="" />
                            </a>
                        </article>
						<!-- Work -->
							

					</div>

				<!-- Footer -->
					<div id="footer">
						<ul class="copyright">
							<li>&copy; Godbless Umukoro.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
						</ul>
					</div>

			</div>

		<!-- Scripts -->
			<!-- Cloudflare Web Analytics -->
			<!-- <script defer src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "4887658d65b644438472c33f8b679596"}'></script> -->
			<!-- End Cloudflare Web Analytics -->
			<script src="home/js/jquery.min.js"></script>
			<script src="home/js/browser.min.js"></script>
			<script src="home/js/breakpoints.min.js"></script>
			<script src="home/js/util.js"></script>
            <script src="home/js/main.js"></script>
            <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>   -->

	</body>
	 
</html>